:root {
    --black: #0C0410;
    --bright-red: #950106;
    --dark-red: #731E0E;
    --yellow: #B8D42B;
    --gray: #453744;
    --offwhite: #F3FCF3;
}
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    color: var(--offwhite);
    background-color: var(--black);
    background-image: url("../src/images/ramen-background2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
}
nav > button {
    border: none;
    padding: 15px 30px;
    color: var(--offwhite);
    background-color: rgba(196, 110, 89, 0.5);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
nav > button:hover {
    background-color: rgba(196, 110, 89, 0.9);
}
#intro {
    color: #FCE9E3;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 30%;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}
#about > h1 {
    margin-top: 0;
}
#about > p {
    line-height: 1.5;
}